<style>
    
.bottom-container{
    background-color:whitesmoke ;
    padding: 50px 0 20px;
    width: 216vh;
    margin-bottom: 0;
    
     /* display: flex; */
    /* justify-content: center;
    align-items: center; */ 
}



.copyright {
    color:#3F2305;
    font-size: 0.75rem;
    /* padding: 20px 0; */
    text-align: center;
    font-size: 20px;
    margin-top:  60px;
    margin-bottom: 0;
    
}

.icons {
        display: flex;
        margin-left: 700px;
        letter-spacing: 15px;
        
    }
    
    .social-container a {
        border: 1px solid #ddd;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        height: 40px;
        width: 40px;
    }
    
    .footer {
        margin-top: 25px;
        text-align: center;
    }

    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: .5px;
        margin: 20px 0 30px;
    }
    
    
    
    span {
        font-size: 12px;
    }
    
    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }


/* .icons{
  margin-left: 700px;
} */



</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
crossorigin="anonymous">


<div class="bottom-container" >
    <div class="footer">
        <b>	Follow Us On </b>
            <div class="icons">
                <a href="https://github.com/ammaarfatani" target="_blank" class="social"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/fatani098" target="_blank" class="social"><i class="fab fa-instagram"></i></a>
                <a href="https://medium.com/" target="_blank" class="social"><i class="fab fa-medium"></i></a>
                <a href="https://twitter.com/" target="_blank" class="social"><i class="fab fa-twitter-square"></i></a>
                <a href="https://pk.linkedin.com/" target="_blank" class="social"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
    <p class="copyright">© Ammar Fatani @ Note Book.</p>

  </div>

