<%- include('partials/header') %>

<style>
  .book{
    width: 200px;
    height: 200px;
  }
</style>

<div class="jumbotron centered">
  <div class="container">
    <img class="book" src="https://images.unsplash.com/photo-1512820790803-83ca734da794?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fHw%3D" alt="">
    <h1 class="display-3">Note Book</h1>
    <p class="lead">keep your books save, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
